.photo-grid {
  display: grid;
  margin: 64px auto 0;
  padding: 0;
  width: calc(100% - 32px);
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
  gap: 12px;
}

@media screen and (min-width: 768px) {
  .photo-grid {
    margin-top: 88px;
    width: calc(100% - 48px);
    gap: 16px;
  }
}

@media screen and (min-width: 1024px) {
  .photo-grid {
    margin-top: 92px;
    width: calc(100% - 96px);
    gap: 14px;
  }
}

@media screen and (min-width: 1280px) {
  .photo-grid {
    gap: 16px;
  }
}
