.lead__title {
  display: flex;
  margin: 0 auto;
  padding: 0;
  width: 288px;
  text-align: center;
  font-family: 'Inter', 'Arial', sans-serif;
  color: #fff;
  font-size: 40px;
  line-height: 1.1;
  font-style: normal;
  font-weight: 900;
  -webkit-font-smoothing: antialiased;
}

@media screen and (min-width: 768px) {
  .lead__title {
    width: 720px;
    font-size: 96px;
    line-height: 1.04;
  }
}
