.intro__text {
  display:flex;
  margin: 40px 0 0;
  padding: 0;
  width: 100%;
  text-align: left;
  font-family: 'Inter', 'Arial', sans-serif;
  color: #fff;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 163%;
  -webkit-font-smoothing: antialiased;
}

@media screen and (min-width: 1024px) {
  .intro__text {
    width: 690px;
  }
}
