.cover__overlay {
  width: 100vw;
  min-height: 62.5vw;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  background: rgba(42, 44, 47, 0.3);
  z-index: 3;
}

.cover__overlay:hover {
  background: rgba(42, 44, 47, 0.8);
}

@media screen and (min-width: 768px) {
  .cover__overlay {
    margin: 0;
  }
}

@media screen and (min-width: 1024px) {
  .cover__overlay {
    margin: 0;
  }
}
@media screen and (min-width: 1280px) {
  .cover__overlay {
    margin: 0;
  }
}