.lead__caption {
  width: calc(100% - 16px);
  align-self: flex-start;
  margin: 8px 0 0 16px;
  padding: 0;
  text-align: left;
  font-family: 'Inter', 'Arial', sans-serif;
  text-transform: uppercase;
  color: #fff;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 1.4;
  letter-spacing: 1.5px;
}

@media screen and (min-width: 768px) {
  .lead__caption {
    margin-left: 24px;
    width: calc(100% - 24px);
  }
}

@media screen and (min-width: 1024px) {
  .lead__caption {
    margin-left: 0;
    width: 100%;
  }
}
