.header__lang-links {
  display: flex;
  position: relative;
  bottom: 0;
  right: 0;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  margin: 0 0 8px;
  padding: 0;
  width: 62px;
  list-style-type: none;
}

@media screen and (min-width: 768px) {
  .header__lang-links {
    width: 78px;
    margin-bottom: 6px;
  }
}
